<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>EmpleosApp | Creación de Categorías</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  </head>

  <body>

   <header th:insert="fragmentos/menu.html::menu-principal">
    </header>

    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Datos de la categoría</strong></h4>              
          <div class="card-body">
            <form method="post" th:action="@{/productos/guardar}"
            	th:object="${producto}"
            >              
              <div class="row">
                <div class="col-md-6"> 
                  <div class="form-group">
                  	<input type="hidden" th:field="*{id}">
                    <label for="nombre">Producto</label>
                    <input type="text" class="form-control" id="producto" th:field="*{producto}" name="producto" placeholder="Escriba el nombre de la categoria" required="required">
                  </div>
                </div>                
              </div> 
              <div class="row">
                <div class="col-md-6"> 
                  <div class="form-group">
                    <label for="descripcion">Marca</label>
                    <textarea class="form-control" th:field="*{marca}" name="marca" id="marca" rows="2"   required="required"></textarea>
                  </div> 
                </div>                
              </div> 
               <div class="row">
                <div class="col-md-6"> 
                  <div class="form-group">
                    <label for="descripcion">Modelo</label>
                    <textarea class="form-control" th:field="*{modelo}" name="modelo" id="modelo" rows="2"   required="required"></textarea>
                  </div> 
                </div>                
              </div> 
               
                <div class="row">
                <div class="col-md-6"> 
                  <div class="form-group">
                    <label for="descripcion">Precio</label>
                    <textarea class="form-control" th:field="*{precio}" name="precio" id="precio" rows="2"   required="required"></textarea>
                  </div> 
                </div>                
              </div> 
              
               <div class="row">
                <div class="col-md-6"> 
                  <div class="form-group">
                    <label for="descripcion">puertos</label>
                    <textarea class="form-control" th:field="*{puertos}" name="puertos" id="puertos" rows="2"   required="required"></textarea>
                  </div> 
                </div>                
              </div> 
              
               <div class="row">
                <div class="col-md-6"> 
                  <div class="form-group">
                    <label for="descripcion">Accesorios</label>
                    <textarea class="form-control" th:field="*{accesorios}" name="accesorios" id="accesorios" rows="2"   required="required"></textarea>
                  </div> 
                </div>                
              </div> 
              <div class="row">
                <div class="col-md-6"> 
                  <div class="form-group">
                    <label for="descripcion">Color</label>
                    <textarea class="form-control" th:field="*{color}" name="color" id="color" rows="2"   required="required"></textarea>
                  </div> 
                </div>                
              </div> 
              <div class="row">
                <div class="col-md-6"> 
                  <div class="form-group">
                    <label for="descripcion">Descripcion</label>
                    <textarea class="form-control" th:field="*{descripcion}" name="descripcion" id="descripcion" rows="2"   required="required"></textarea>
                  </div> 
                </div>                
              </div> 
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="fecha">Fecha de Publicación</label>
                    <input type="text" class="form-control" th:field="*{fecha}" name="fecha" id="fecha" placeholder="Fecha de publicacion" required="required">
                  </div>  
                </div>
              <hr>
              <button type="submit" title="Guardar el registro." class="btn btn-secondary text-white">Guardar</button>  
            </form>
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer class="footer" th:insert="fragmentos/pie.html::pie-pagina">
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>     
  </body>
</html>
